<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fast Food Fast - Admin</title>
  <link rel="stylesheet" href="css/ionicons.min.css" type="text/css">
  <link rel="stylesheet" href="css/core.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/toast.css" />
  <link rel="stylesheet" href="css/page/checkout.css" type="text/css" />
  <link rel="icon" href="img/food-truck.png" />
</head>

<body class="bg-grey">
  <nav class="nav nav--primary nav--custom">
    <div class="nav__inner">
      <div class="nav__logo">
        <p><i class="nav__logo--icon"></i>Fast<span>Food</span></p>
      </div>
      <ul class="nav__links">
        <li><a href="index.html">Home</a></li>
        <li><a href="order.html">Orders</a></li>
        <li><a href="history.html">History</a></li>
      </ul>
      <ul class="nav__links--sm">
        <li><a href="#" class="open" id="open"><i class="icon ion-ios-cart vi"></i></a></li>
      </ul>
    </div>
  </nav>
  <section class="checkout-form">
    <div class="title">
      <p class="title__text checkout-form--text title__text--sm text--dark mt-3">Add Menu Item</p>
    </div>
    <form id="menuForm">
      <div class="checkout-input-group">
        <label for="meal-name">Meal Name</label>
        <input type="text" name="meal-name" id="meal-name" placeholder="Enter Meal Name" />
      </div>
      <div class="checkout-input-group">
        <label for="price">Price</label>
        <input type="text" name="price" id="price" placeholder="Enter Price" />
      </div>
      <div class="checkout-input-group">
        <label for="image-url">Image Url</label>
        <input type="text" name="image-url" id="image-url" placeholder="Image Url" />
      </div>
      <button type="submit" class="button button--primary">Add Meal</button>
    </form>
  </section>
  <div id="js-side-nav" class="sidenav">
    <a href="#" id="js-closebtn" class="closebtn">
      <i class="ion-ios-close-outline"></i>
    </a>
    <a href="index.html">Home</a>
    <a href="order.html">Orders</a>
    <a href="history.html">History</a>
  </div>
  <script src="js/sidenav.js" type="text/javascript"></script>
  <script async src="js/toast.js" type="text/javascript"></script>
  <script async src="js/init.js" type="text/javascript"></script>
  <script async src="js/fetch/menu.js" type="text/javascript"></script>
</body>

</html>