<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fast Food Fast - Cart</title>
    <link rel="stylesheet" href="css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="css/core.css" type="text/css" />
    <link rel="icon" href="img/food-truck.png" />
</head>
<body class="bg-grey">
    <nav class="nav nav--primary nav--custom">
        <div class="nav__inner">
            <div class="nav__logo">
                <p><i class="nav__logo--icon"></i>Fast<span>Food</span></p>
            </div>
            <ul class="nav__links--sm">
                <li><a href="#" class="open" id="open"><i class="icon ion-ios-cart vi"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="nav nav--light nav--shadow nav--custom">
        <ul class="nav__links nav-secondary__links">
            <li><a href="index.html">Homepage</a></li>
            <li><a href="order.html">Orders</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Sign out</a></li>
        </ul>
    </div>
    <div class="admin-wrapper mt-3">
        <div class="title">
            <div class="title__text title__text--xs text--dark">Pending Orders</div>
        </div>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Order(s)</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2 x Burgers, 2 x Soda</td>
                    <td>Somewhere in Lagos</td>
                    <td>&#8358; 7,000</td>
                    <td>
                        <div class="table__buttons">
                            <a href="#" class="button button--success">Accept</a>
                            <a href="#" class="button button--danger">Reject</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2 x Pizza, 1 x Soda</td>
                    <td>Somewhere in Yaba</td>
                    <td>&#8358; 4,000</td>
                    <td>
                        <div class="table__buttons">
                            <a href="#" class="button button--success">Complete</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4 x Pizza, 4 x Soda</td>
                    <td>Somewhere in Magodo</td>
                    <td>&#8358; 12,000</td>
                    <td>
                        <div class="table__buttons">
                            <a href="#" class="text--success">Delivered</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>2 x Pizza, 1 x Soda</td>
                    <td>Somewhere in Nigeria</td>
                    <td>&#8358; 4,000</td>
                    <td>
                        <div class="table__buttons">
                            <a href="#" class="button button--success">Accept</a>
                            <a href="#" class="button button--danger">Reject</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>2 x SpringRolls</td>
                    <td>Somewhere in Yaba</td>
                    <td>&#8358; 3,000</td>
                    <td>
                        <div class="table__buttons">
                            <a href="#" class="button button--success">Complete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Sidenav -->
    <div id="js-side-nav" class="sidenav">
        <a href="#" id="js-closebtn" class="closebtn">
            <i class="ion-ios-close-outline"></i>
        </a>
        <li><a href="index.html">Homepage</a></li>
        <li><a href="order.html">Orders</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Transactions</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Sign out</a></li>
    </div>
    <script src="js/sidenav.js" type="text/javascript"></script>
</body>
</html>