<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fast Food Fast - Checkout</title>
    <link rel="stylesheet" href="css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="css/core.css" type="text/css" />
    <link rel="stylesheet" href="css/page/checkout.css" type="text/css" />
    <link rel="icon" href="img/food-truck.png" />
</head>
<body class="bg-grey">
    <nav class="nav nav--primary nav--custom">
        <div class="nav__inner">
            <div class="nav__logo">
                <p><i class="nav__logo--icon"></i>Fast<span>Food</span></p>
            </div>
            <ul class="nav__links">
                <li><a href="index.html">Home</a></li>
                <li><a href="order.html">Orders</a></li>
                <li><a href="history.html">History</a></li>
                <li><a class="nav__total" href="#">Total: &#8358; 7,000</a></li>
            </ul>
            <ul class="nav__links--sm">
                <li><a href="#" class="open" id="open"><i class="icon ion-ios-cart vi"></i></a></li>
            </ul>
        </div>
    </nav>
    <section class="checkout-form">
       <div class="title">
           <p class="title__text title__text--sm text--dark mt-3">Checkout</p>
       </div>
       <form>
           <div class="checkout-input-group">
               <label for="card-no">Card No</label>
               <input type="text" name="card-no" id="card-no" placeholder="XXXX XXXX XXXX"/>
           </div>
           <div class="checkout-input-group">
                <label for="card-name">Name on Card</label>
                <input type="text" name="card-name" id="card-name" placeholder="John Doe"/>
            </div>
            <div class="checkout-input-group">
                <label for="expiry">Expiry Date</label>
                <input type="text" class="half-width" name="expiry-month" id="expiry" placeholder="MM"/>
                <input type="text" class="half-width" name="epiry-year" placeholder="YY"/>
            </div>
            <div class="checkout-input-group">
                <label for="expiry">CVC</label>
                <input type="text" class="half-width fl" name="epiry-year" placeholder="***"/>
                <label for="zip">Zip Code</label>
                <input type="text" class="half-width" id="zip" name="epiry-year" placeholder=""/>
            </div>
            <p class="terms">By clicking proceed you agree to all our <a href="#">terms and conditions.</a></p>
            <button class="button button--primary">Pay &#8358; 7,000</button>
       </form>
    </section>
    <div id="js-side-nav" class="sidenav">
        <a href="#" id="js-closebtn" class="closebtn">
            <i class="ion-ios-close-outline"></i>
        </a>
        <a href="index.html">Home</a>
        <a href="order.html">Orders</a>
        <a href="history.html">History</a>
        <a class="nav__total" href="#">Total: &#8358; 7,000</a>
    </div>
    <script src="js/sidenav.js" type="text/javascript"></script>
</body>
</html>