<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Fast Food Fast</title>
	<link rel="stylesheet" href="css/ionicons.min.css" type="text/css">
	<link rel="stylesheet" href="css/core.css" type="text/css" />
	<link rel="icon" href="img/food-truck.png" />
</head>

<body class="pr">
	<nav class="nav bg-white nav--shadow">
		<div class="nav__inner">
			<div class="nav__logo">
				<p><i class="nav__logo--icon"></i>Fast<span>Food</span></p>
			</div>
			<ul class="nav__links">
				<li><a href="index.html">Home</a></li>
				<li><a href="order.html">Orders</a></li>
				<li><a href="login.html">Login</a></li>
				<li><a href="signup.html">Sign Up</a></li>
				<li class="nav-item nav-item-main notification hide-md">
					<a class="nav-link nav__notification active" href="cart.html">
						<i class="icon ion-ios-cart vi"></i>
					</a>
				</li>
			</ul>
			<ul class="nav__links--sm">
				<li><a href="#" class="open" id="open"><i class="ion-android-menu"></i></a></li>
			</ul>
		</div>
	</nav>
	<section class="hero hero--bg-img">
		<div class="hero__caption">
			<div class="hero__caption-title">
				<h1 class="title__text hero__title text--shadow">Discover new meals</h1>
				<span class="seperator text--shadow">and</span><br>
				<div class="subtitle text--shadow">
					order
					<span>online</span>
				</div>
			</div>
		</div>
	</section>
	<section class="section wrapper">
		<div class="section__inner">
			<div class="title mt-2">
				<h2 class="title__text title__text--dark">Menu Items</h2>
			</div>
			<div class="section__row three-col">
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/hamburger.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Hamburger</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 3,000</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary button--clicked">Added Item</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/pizza-slice.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Pizza</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 2,000</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary">Add to cart</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/fries.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Fries</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 5,000</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary">Add to cart</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/cupcake.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Cupcake</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 3,000</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary">Add to cart</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/soda.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Soda</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 500</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--clicked">Added Item</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/pie.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Pie</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 4,500</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary">Add to cart</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/donuts.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Donuts</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 4,500</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary">Add to cart</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/spring-rolls.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Spring Rolls</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 1,500</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary">Add to cart</a>
						</div>
					</div>
				</div>
				<div class="card card--vertical card--has-shadow card--shape grid-item mt-4">
					<div class="card__image">
						<img src="img/meals/fried-chicken.png" />
					</div>
					<div class="card__content">
						<div class="card__title">
							<h3 class="card__title--text title__text--dark pt-1">Chicken</h3>
						</div>
						<div class="card__price">
							<span>&#8358; 5,500</span>
						</div>
						<div class="card__button">
							<a href="#" class="button button--secondary">Add to cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="section__row load-more mt-5">
				<a href="order.html" class="button button--primary">Show All Items</a>
			</div>
		</div>
	</section>
	<section class="section section--no-p pr">
		<div class="section__img section__img-image-1">
			<div class="wrapper">
				<div class="center">
					<div class="title">
						<h1 class="title__text text--white">Ready . Set . Order</h1>
					</div>
					<p class="text--white text--center">Orders gotten less than 20mins after booking are <b>FREE</b></p>
				</div>
			</div>
		</div>
	</section>
	<footer class="bg-dark text--white text--center">
		<p>Copyrights @ 2018</p>
	</footer>
	<!-- FAB BUTTON -->
	<div class="fab__menu js-fab__menu">
		<div class="fab js-fab">
			<i class="ion-ios-cart"></i>
		</div>
		<div class="fab__menu__content">
			<h4 class="fab__menu__title title__text--dark">Cart item(s)</h4>
			<ul class="fab__menu__content__list">
				<li>
					Hamburger - <span>&#8358; 3,000</span>
				</li>
				<li>
					Soda - <span>&#8358; 500</span>
				</li>
			</ul>
			<a href="checkout.html" class="button button--primary">Checkout</a>
		</div>
	</div>
	<!-- Sidenav -->
	<div id="js-side-nav" class="sidenav">
		<a href="#" id="js-closebtn" class="closebtn">
			<i class="ion-ios-close-outline"></i>
		</a>
		<a href="index.html">Home</a>
		<a href="history.html">History</a>
		<a href="login.html">Login</a>
		<a href="signup.html">Sign Up</a>
	</div>
</body>
<script src="js/fab.js" type="text/javascript"></script>
<script src="js/sidenav.js" type="text/javascript"></script>

</html>