.loading {
  min-width: 750px;
  height: 360px;
  position: relative;
  background: rgba(10, 10, 10, .75);
  text-align: center;
  display: none;
}

.loading img {
  margin-top: 7rem;
  height: 90px;
}

.loading--show {
  display: block;
  animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}